.box-button {
    cursor: pointer;
    border: 4px solid black;
    background-color: #04929A;
    padding-bottom: 10px;
    transition: 0.1s ease-in-out;
    user-select: none;
}

.button {
    /* background-color: #dddddd;
    border: 4px solid #fff; */
    background-color: #8F93BA;
    padding: 3px 8px;
    border: 2px solid #fff;
}

.button span {
    font-size: 1.2em;
    letter-spacing: 1px;
}

.box-button:active {
    padding: 0;
    margin-bottom: 10px;
    transform: translateY(10px);
}